body {
  padding: 15px;
  margin: 0;
  background: gray;
  font-family: "Arial", sans-serif;
}

header {
  background: goldenrod;
  border-radius: 15px;
  padding: 10px;
  margin: 10px 0;
  border: 2px solid blue;
}

nav ul {
  list-style-type: none;
  overflow: hidden;
}

ul li {
  display: inline-block;
}

li a {
  display: block;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  color: white;
}

li a:hover {
  color: purple;
}

main {
  background: rosybrown;
  border-radius: 15px;
  padding: 25px;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid greenyellow;
}

main h1 {
  color: #ccc;
  font-weight: bold;
  font-size: 24px;
}

main section p {
  color: pink;
  font-weight: lighter;
  font-size: 16px;
  text-align: center;
}

section {
  padding: 10px;
  margin: 15px 0;
  border-radius: 15px;
  background: darkcyan;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

main section img {
  width: 50%;
  aspect-ratio: "3840/2160";
  margin: 15px 0;
}

footer {
  background: darkgrey;
  border-radius: 15px;
  padding: 10px;
  margin: 10px 0;
  text-align: center;
}

li #a_facebook {
  background: blue;
}

li #a_twitter {
  background: skyblue;
}

li #a_linkedin {
  background: blue;
}

li #a_youtube {
  background: red;
}

#img_1 {
  border-radius: 10px;
}

#img_1:hover {
  transform: scale(0.7);
}

#img_2 {
  border-radius: 40px;
}

#img_3 {
  border-radius: 80px;
}

.parrafo {
  font-size: 24px;
  font-weight: bolder;
  text-decoration: underline;
}
