<section class="mx-auto max-w-screen-lg px-3 py-6" id="experiencia">
  <!-- titulo -->
  <div class="mb-6 text-2xl font-bold">
    Experiencia
    <span
      class="bg-gradient-to-br from-sky-500 to-cyan-400 bg-clip-text text-transparent"
      >Laboral</span
    >
  </div>

  <!-- timeline -->
  <div class="relative wrap overflow-hidden md:p-10 exp-timeline">
    <!-- Timeline Item 1 -->
    <div class="mb-8 flex justify-between items-center w-full left-timeline">
      <div class="order-1 w-5/12"></div>
      <div
        class="z-20 flex items-center order-1 bg-rose-900 shadow-xl w-8 h-8 rounded-full"
      >
        <h1 class="mx-auto font-semibold text-lg text-white">1</h1>
      </div>
      <div class="order-1 bg-rose-900 rounded-lg shadow-xl w-5/12 px-6 py-4">
        <h3 class="mb-3 font-bold text-white">Empresa A</h3>
        <p class="text-sm leading-snug tracking-wide text-white">
          Posición: Desarrollador Web
        </p>
        <p class="text-sm leading-snug tracking-wide text-white">
          Fecha: Enero 2020 - Actualidad
        </p>
      </div>
    </div>

    <!-- Timeline Item 2 -->
    <div
      class="mb-8 flex justify-between flex-row-reverse items-center w-full right-timeline"
    >
      <div class="order-1 w-5/12"></div>
      <div
        class="z-20 flex items-center order-1 bg-indigo-900 shadow-xl w-8 h-8 rounded-full"
      >
        <h1 class="mx-auto text-white font-semibold text-lg">2</h1>
      </div>
      <div class="order-1 bg-indigo-900 rounded-lg shadow-xl w-5/12 px-6 py-4">
        <h3 class="mb-3 font-bold text-white">Empresa B</h3>
        <p class="text-sm leading-snug tracking-wide text-white">
          Posición: Diseñador UX/UI
        </p>
        <p class="text-sm leading-snug tracking-wide text-white">
          Fecha: Junio 2018 - Diciembre 2019
        </p>
      </div>
    </div>

    <!-- Timeline Item 3 -->
    <div class="mb-8 flex justify-between items-center w-full left-timeline">
      <div class="order-1 w-5/12"></div>
      <div
        class="z-20 flex items-center order-1 bg-fuchsia-900 shadow-xl w-8 h-8 rounded-full"
      >
        <h1 class="mx-auto font-semibold text-lg text-white">1</h1>
      </div>
      <div class="order-1 bg-fuchsia-900 rounded-lg shadow-xl w-5/12 px-6 py-4">
        <h3 class="mb-3 font-bold text-white">Empresa A</h3>
        <p class="text-sm leading-snug tracking-wide text-white">
          Posición: Desarrollador Web
        </p>
        <p class="text-sm leading-snug tracking-wide text-white">
          Fecha: Enero 2020 - Actualidad
        </p>
      </div>
    </div>

    <!-- Agrega más elementos de la línea de tiempo según sea necesario -->
  </div>
</section>

<style>
  body {
    font-family: "Inter", sans-serif;
  }

  .exp-timeline .left-timeline::before,
  .exp-timeline .right-timeline::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 2px;
    background: linear-gradient(
      to bottom,
      rgb(136 19 55 / var(--tw-bg-opacity)),
      rgb(49 46 129 / var(--tw-bg-opacity)),
      rgb(112 26 117 / var(--tw-bg-opacity))
    ); /* Gradiente de color */
    top: 0;
    left: 50%; /* Centro */
    transform: translateX(-50%);
  }

  .est-timeline .left-timeline::before,
  .est-timeline .right-timeline::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 2px;
    background: linear-gradient(
      to bottom,
      rgb(20 83 45 / var(--tw-bg-opacity)),
      rgb(20 83 45 / var(--tw-bg-opacity)),
      rgb(30 58 138 / var(--tw-bg-opacity))
    ); /* Gradiente de color */
    top: 0;
    left: 50%; /* Centro */
    transform: translateX(-50%);
  }
</style>
