<footer class="mx-auto max-w-screen-lg px-3 py-6 bg-gray-800 text-white">
  <p class="text-center">
    Creado con <span class="text-cyan-400">❤️</span> y código por
    <a class="text-cyan-400 hover:underline" href="/">vasquezluis</a>
  </p>
</footer>
