<main class="mx-auto max-w-screen-lg px-3 py-6" id="informacion">
  <div
    class="flex flex-col items-center md:flex-row md:justify-between md:gap-x-24"
  >
    <div>
      <h1 class="text-3xl font-bold">
        Hola, soy
        <span
          class="bg-gradient-to-br from-sky-500 to-cyan-400 bg-clip-text text-transparent"
          >Luis Vásquez</span
        >
      </h1>
      <p class="mt-6 text-xl leading-9">
        Soy programador
        <a class="text-cyan-400 hover:underline" href="/"> Fullstack</a>
         que se dedica a crear aplicaciones web de alta calidad. Soy un
        desarrollador web autodidacta que se enfoca en crear experiencias de
        usuario hermosas y de alto rendimiento.
      </p>
      <div class="flex mt-3 gap-1">
        <a href="#">
          <img
            class="h-12 w-12 hover:translate-y-1"
            src="twitter-icon.png"
            alt="twitter icon"
          />
        </a>
        <a href="#">
          <img
            class="h-12 w-12 hover:translate-y-1"
            src="facebook-icon.png"
            alt="facebook icon"
          />
        </a>
        <a href="#">
          <img
            class="h-12 w-12 hover:translate-y-1"
            src="linkedin-icon.png"
            alt="linkedin icon"
          />
        </a>
        <a href="#">
          <img
            class="h-12 w-12 hover:translate-y-1"
            src="youtube-icon.png"
            alt="youtube icon"
          />
        </a>
      </div>
    </div>
    <div class="shrink-0">
      <img class="h-80 w-64" src="icons/avatar.svg" alt="avatar" />
    </div>
  </div>
</main>
