---
import { Image } from "astro:assets";

interface Props {
  imagenSrc: any;
  titulo: string;
  descripcion: string;
}

const { imagenSrc, titulo, descripcion } = Astro.props;
---

<div class="flex flex-row rounded-lg p-2 w-1/2 bg-slate-800">
  <div class="w-1/2 p-2 rounded-lg">
    <Image class="rounded-lg" src={imagenSrc} alt="Imagen en componente" />
  </div>
  <div class="w-1/2 p-2 rounded-lg">
    <h2 class="text-white text-2xl">{titulo}</h2>
    <p class="text-gray-200">{descripcion}</p>
  </div>
</div>
